name: Publish Sphinx Docs to GitHub Pages

on:
  # Build the docs on pushes to main branch, PRs to main branch, and new tags.
  # Publish only on demand.
  push:
    branches:
      - main
    tags:
      - '*'  # all tags
  pull_request:
    branches:
      - main
  workflow_dispatch:   # allow manual triggering
    inputs:
      deploy:
        description: 'Deploy documentation'
        type: boolean
        required: true
        default: false

# see: https://sphinx-notes.github.io/pages/
# see: https://github.com/marketplace/actions/sphinx-to-github-pages

defaults:
  run:
    shell: bash -l {0}
    # set -vxeuo pipefail

jobs:

  pages:
    name: Publish documentation
    runs-on: ubuntu-latest

    steps:

    - name: Deploy Information
      if: ${{ github.event.inputs.deploy }}
      run: |
        echo "The will be published from this workflow run."

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

    - name: Install Sphinx build requirements
      run: pip install  -r ./docs/requirements.txt

    - name: Install our package
      run: pip install --no-deps -e . -vv

    - name: Sphinx
      run: TZ=UTC make -C docs html

    - name: Deploy (to gh-pages branch) only on demand
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.event.inputs.deploy }}
      with:
        publish_branch: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html
        force_orphan: true
  
    # - name: Publish (push gh-pages branch) only on demand
    #   if: ${{ github.event.inputs.deploy }}
    #   uses: ad-m/github-push-action@master
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     branch: gh-pages
